body{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.heading{
    display: flex;
    justify-content: space-evenly;
}

.logo{
    align-self:flex-start;
}

.links{
    display:flex;
    justify-content: flex-end;
    gap: 20px;
}

.webinfo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box {
    border: 1px solid black;
    width:100px;
    height:100px;
    border-radius: 10px;
}

.infobox {
    width:100px;
}

.infobox p {
    text-align: center;
}

.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.action-text{
    display: flex;
    flex-direction: column;
}
